* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  letter-spacing: 1.4px;
}
p {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.8px;
}
body {
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  justify-content: space-between;
  display: flex;
  margin-top: 30px;
  position: relative;
  margin-bottom: 30px;
}
.nav-first {
  margin-left: 50px;
}
.nav-item {
  position: absolute;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}
.nav-item:first-child {
  margin-left: 84px;
}
.logo {
  position: relative;
  left: 45px;
}
.nav-second {
  margin-right: 80px;
}
.nav-item.second {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  margin-left: 0;
}
.brt {
  position: relative;
  margin-bottom: 80px;
}
.photo {
  display: flex;
}
.photo-first {
  width: 100%;
}
.block-one {
  position: absolute;
  text-align: center;
  top: 37%;
  width: 100%;
  color: rgba(255, 255, 255, 1);
}
.zag {
  font-size: 43px;
  line-height: 46px;
}
.para {
  font-size: 15px;
  line-height: 18px;
  margin-top: 12px;
  margin-bottom: 28px;
}
.learn {
  font-size: 13px;
  line-height: 15px;
  color: rgba(255, 255, 255, 1);
}
.text {
  text-align: center;
  width: 100%;
  margin-bottom: 81px;
}
.parag {
  font-size: 14px;
  line-height: 24px;
  color: rgba(160, 160, 160, 1);
  padding: 23px 0 26px 0;
}
.start {
  font-size: 13px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
}
.main {
  display: flex;
  justify-content: space-around;
}
.main-first {
  margin-left: 50px;
  margin-right: 12px;
}
.main-second {
  margin-right: 50px;
  margin-left: 13px;
}
.photo-second {
  left: 50px;
  width: 100%;
}
.text-second {
  text-align: center;
  margin-top: 49px;
}
.zagolovok {
  font-size: 27px;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 23px;
}
.start-two {
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 1);
}
